In [1]:
import warnings
import itertools
import numpy as np
import matplotlib.pyplot as plt
warnings.filterwarnings("ignore")
plt.style.use('fivethirtyeight')
import pandas as pd
import statsmodels.api as sm
import matplotlib
matplotlib.rcParams['axes.labelsize'] = 14
matplotlib.rcParams['xtick.labelsize'] = 12
matplotlib.rcParams['ytick.labelsize'] = 12
matplotlib.rcParams['text.color'] = 'G'

In [ ]:
df = pd.read_csv("Raw data/Original datasets/smart_meter.csv",sep="\s*[;]\s*", 
                decimal=',')

In [24]:
df.rename(columns={'ï»¿Date':"Datetime"}, inplace=True)

In [37]:
df["Datetime"] = df["Datetime"].str.replace(r"[\"\',]", '')

In [38]:
df.tail(5)

,Datetime,MT_001,MT_002,MT_003,MT_004,MT_005,MT_006,MT_007,MT_008,MT_009,...,MT_361,MT_362,MT_363,MT_364,MT_365,MT_366,MT_367,MT_368,MT_369,MT_370
140251,2014-12-31 23:00:00,"2,53807106598985","22,0483641536273","1,73761946133797","150,406504065041","85,3658536585366","303,571428571429","11,3058224985868","282,828282828283","68,1818181818182",...,"276,945039257673",28200.0,"1616,03375527426","1363,63636363636","29,986962190352","5,85137507314219","697,102721685689","176,961602671119","651,026392961877","7621,62162162162"""
140252,2014-12-31 23:15:00,"2,53807106598985","21,3371266002845","1,73761946133797","166,666666666667","81,7073170731707","324,404761904762","11,3058224985868","252,525252525253","64,6853146853147",...,"279,800142755175",28300.0,"1569,62025316456","1340,90909090909","29,986962190352","9,94733762434172","671,641791044776","168,614357262104","669,354838709677","6702,7027027027"""
140253,2014-12-31 23:30:00,"2,53807106598985","20,6258890469417","1,73761946133797","162,60162601626","82,9268292682927","318,452380952381","10,1752402487281","242,424242424242","61,1888111888112",...,"284,796573875803",27800.0,"1556,96202531646","1318,18181818182","27,3794002607562","9,3622001170275","670,763827919227","153,589315525876","670,087976539589","6864,86486486487"""
140254,2014-12-31 23:45:00,"1,26903553299492","21,3371266002845","1,73761946133797","166,666666666667","85,3658536585366","285,714285714286","10,1752402487281","225,589225589226","64,6853146853147",...,"246,252676659529",28000.0,"1443,03797468354","909,090909090909","26,0756192959583","4,09596255119953","664,618086040386","146,911519198664","646,627565982405","6540,54054054054"""
140255,2015-01-01 00:00:00,"2,53807106598985","19,9146514935989","1,73761946133797","178,861788617886","84,1463414634146","279,761904761905","10,1752402487281","249,158249158249","62,9370629370629",...,"188,436830835118",27800.0,"1409,28270042194","954,545454545455","27,3794002607562","4,09596255119953","628,621597892889","131,886477462437","673,020527859238","7135,13513513513"""

In [39]:
df.Datetime = pd.to_datetime(df.Datetime)
df.set_index('Datetime', inplace=True)

In [43]:
# from 2012-01-01
df = df['2012-01-01':]

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 105217 entries, 2012-01-01 00:00:00 to 2015-01-01 00:00:00
Columns: 370 entries, MT_001 to MT_370
dtypes: float64(1), object(369)
memory usage: 297.8+ MB

In [65]:
pd.to_numeric(df['MT_001'])

ValueError: Unable to parse string "3,80710659898477" at position 1

In [44]:
df['MT_001'].plot(figsize=(19,12))
plt.show()

TypeError: no numeric data to plot